*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.ThirdSectionContainer{
    max-width: 100%;
}

.ThirdSectionContent{
    width: 100%;
}
.textContent{
    float: left;
    left: 50%;
}
.ThirdSectionContent h3{
    height: 59px;
    width: 467px;
    left: 81px;
    top: 1253px;
    font-family: Nunito;
    font-size: 44px;
    font-weight: 900;
    margin: 300px 0 40px 100px ;
}
.ThirdSectionContent h5 {
    height: 96px;
    width: 583px;
    left: 81px;
    top: 1334px;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    margin-left: 100px;
    margin-bottom: 30px;
}
.ThirdSectionContent  p {
    height: 32px;
    width: 374px;
    font-family: Lora;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.02em;
    text-align: left;
    display: inline-block;
    vertical-align:super;
    margin-left: 10px;
}
.flank-right{
    margin-top: 300px;
    right: 50%;
}
.flank-right2{
    right: 50%;
}